html,
body {
  cursor: url("./pootis.png") 2 2, pointer;
  background: url("./poootis.png");
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
